@use "../../../breakpoints.scss" as bp;

.badge {
  font: var(--font-text-semibold-12);
  padding: 4px 16px;
  border-radius: 1111px;
  width: fit-content;
}

.badge--gold {
  color: var(--color-light);
  background-color: var(--color-badge-standard);
}

.badge--black {
  color: var(--color-light);
  background-color: var(--color-badge-premium);
}

.badge--blue {
  color: var(--color-light);
  background-color: var(--color-primary);
}

.badge--gray {
  color: var(--color-light);
  background-color: var(--color-badge-basic);
}

@media screen and (min-width: bp.$breakpoint-small) {
  .badge {
    font: var(--font-text-semibold-14);
  }
}

@media screen and (min-width: bp.$breakpoint-medium) {
  .badge {
    font: var(--font-text-semibold-16);
  }
}
