@use "@/app/breakpoints.scss" as bp;

.rendez-vous__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.rendez-vous__date__title-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.rendez-vous__date__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.rendez-vous__date__content__dates {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  background-color: var(--color-light);
  border-radius: 8px;
  width: 100%;
}

.rendez-vous__date__content__package {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  align-self: stretch;
  background-color: var(--color-light);
  border-radius: 8px;
}

.rendez-vous__date__content__package-label {
  color: var(--color-dark);
  font: var(--font-text-bold-16);
}

.rendez-vous__date__title-section__button-hide {
  display: none !important;
}

@media screen and (min-width: bp.$breakpoint-small) {
  .rendez-vous__date {
    gap: 48px;
  }
}

@media screen and (min-width: bp.$breakpoint-medium) {
  .rendez-vous__date {
    gap: 64px;
    justify-content: flex-end;
  }

  .rendez-vous__date__title-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .rendez-vous__date__content {
    position: relative;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .rendez-vous__date__content__package {
    height: fit-content;
  }

  .rendez-vous__date__content__dates {
    width: 602px;
  }

  .rendez-vous__date__title-section__button-hide {
    display: unset !important;
    opacity: 0;
  }
}
