@use "../../../breakpoints.scss" as bp;

.package-card {
  display: flex;
  flex-direction: column;
  width: 312px;
}

.package-card--basic {
  color: var(--color-badge-basic);
}
.package-card--basic {
  color: var(--color-badge-standard);
}
.package-card--basic {
  color: var(--color-badge-premium);
}

.package-card__badge-image {
  position: relative;
}

.package-card__badge {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 900;
}

.package-card__image {
  width: 100%;
}

.package-card__content {
}

.package-card__features {
}

.package-card__feature {
}

.package-card__feature__label {
}
