.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-primary-background);
}

.custom-class {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  background: white;
  z-index: 0;
}
