.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  width: fit-content;
  font: var(--font-nav-item);
  color: var(--color-light);
  border-radius: 2px;
}

.nav-item--dark {
  color: var(--color-dark);
}

.nav-item--fullwidth {
  width: 100%;
}

.nav-item--active {
  color: var(--color-primary);
}

.nav-item--secondary {
  outline: 1px solid var(--color-light);
  outline-offset: -1px;
}

.nav-item--tertiary {
  outline: 1px solid var(--color-dark);
  outline-offset: -1px;

  .nav-item__label {
    color: var(--color-dark);
  }
}

.nav-item--filled {
  background-color: var(--color-primary);
}
